<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="demo">

<div class="container-fluid text-warning bg-dark mt-5" id="categories">
    <h1>MUST-HAVES IN YOUR WARDROBE</h1>
  </div>
  

  <div class="container-fluid ml-5 mt-5" id="img-rounded">

    <div class="row">
    
        <div class="column">
          <img src="./../../assets/Men.jpeg"  width="62%" height="58%" ><h5>For Men</h5>
          </div>
        <div class="column">
          <img src="./../../assets/women1.jpeg" width="62%" height="58%" ><h5>For Women</h5>
          </div>
        <div class="column">
          <img src="./../../assets/Kids.jpeg"  width="62%" height="58%" ><h5>For Kids</h5>
        </div>
        <div class="column">  
          <img src="./../../assets/Grooming.jpeg" width="62%" height="58%" ><h5>Grooming Products</h5>
        </div>
    </div>
<div>
        <div class="column" style="margin-top: -5%;">
          <img src="./../../assets/Makeup.jpeg" width="60%" height="70%" ><h5>Makeup Products</h5>
        </div>
        <div class="column" style="margin-top: -5%;">
          <img src="./../../assets/Watches.jpeg"  width="60%" height="70%" ><h5>Watches</h5>
        </div>
        <div class="column" style="margin-top: -5%;">
          <img src="./../../assets/Flipflop1.jpeg"  width="60%" height="70%" ><h5>Flipflops</h5>
        </div>
        <div class="column" style="margin-top: -5%;">
          <img src="./../../assets/footwear.jpeg" width="60%" height="70%" ><h5>Footwear</h5>
        </div>
  
    </div>
    </div>


</body>
</html>
