<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./all-items.component.css" />
  </head>
  <body id="allItems">
    <div class="container-fluid text-warning bg-dark mt-5">
      <h1>MUST-HAVES IN YOUR WARDROBE</h1>
    </div>
    <div class="container-fluid ml-5">
      <div class="row">
        <div class="column" id="item1">
          <img src="./../../assets/1.jpeg" width="60%" height="50%" />
          <h4>Lenin Green shirt</h4>
          <h5>Price: Rs.2500 <s>Rs.3000</s></h5>
          <label>Size :</label>
          <select>
            <option>S</option>
            <option>M</option>
            <option>L</option>
            <option>XL</option></select
          ><br /><br />
          <button>Add-Cart</button>
        </div>

        <div class="column" id="item2">
          <img src="./../../assets/2.jpeg" width="60%" height="50%" />
          <h3>Women Pink and Grey Kurti Set</h3>
          <h4>Price: Rs.2000 <s>Rs.2300</s></h4>
          <label>Size :</label>
          <select>
            <option>S</option>
            <option>M</option>
            <option>L</option>
            <option>XL</option></select
          ><br /><br />
          <button>Add-Cart</button>
        </div>

        <div class="column" id="item3">
          <img src="./../../assets/3.jpeg" width="60%" height="50%" />
          <h4>Women Red Solid Leather Heels</h4>
          <h5>Price: Rs.3400 <s>Rs.4500</s></h5>
          <label>Size :</label>
          <select>
            <option>36</option>
            <option>38</option>
            <option>40</option>
            <option>42</option></select
          ><br /><br />
          <button>Add-Cart</button>
        </div>

        <div class="column" id="item4">
          <img src="./../../assets/4.jpeg" width="60%" height="50%" />
          <h4>Kook and Keech sky blue night suit</h4>
          <h5>Price: Rs.1500 <s>Rs.2000</s></h5>
          <label>Size :</label>
          <select>
            <option>S</option>
            <option>M</option>
            <option>L</option>
            <option>XL</option></select
          ><br /><br />
          <button>Add-Cart</button>
        </div>

        <div class="column" id="item5">
          <img src="./../../assets/5.jpeg" width="60%" height="50%" />
          <h4>Men Blue Tshirt</h4>
          <h5>Price: Rs.2000 <s>Rs.2500</s></h5>
          <label>Size :</label>
          <select>
            <option>S</option>
            <option>M</option>
            <option>L</option>
            <option>XL</option></select
          ><br /><br />
          <button>Add-Cart</button>
        </div>

        <div class="column" id="item6">
          <img src="./../../assets/kidLehenga.jpeg" width="60%" height="50%" />
          <h4>Lehenga set for girls</h4>
          <h5>Price: Rs.3000 <s>Rs.4500</s></h5>
          <label>Size :</label>
          <select>
            <option>S</option>
            <option>M</option>
            <option>L</option>
            <option>XL</option></select
          ><br /><br />
          <button>Add-Cart</button>
        </div>

        <div class="column" id="item7">
          <img src="./../../assets/OnePiece.jpeg" width="60%" height="50%" />
          <h4>Women maroon dress</h4>
          <h5>Price: Rs.2800 <s>Rs.2985</s></h5>
          <label>Size :</label>
          <select>
            <option>S</option>
            <option>M</option>
            <option>L</option>
            <option>XL</option></select
          ><br /><br />
          <button>Add-Cart</button>
        </div>

        <div class="column" id="item8">
          <img
            src="./../../assets/flipflopimage.jpeg"
            width="60%"
            height="50%"
          />
          <h4>Uniplus flipflops</h4>
          <h5>Price: Rs.999 <s>Rs.1500</s></h5>
          <label>Size :</label>
          <select>
            <option>36</option>
            <option>38</option>
            <option>40</option>
            <option>42</option></select
          ><br /><br />
          <button>Add-Cart</button>
        </div>

        <div class="column" id="item9">
          <img src="./../../assets/Jeans.jpeg" width="60%" height="50%" />
          <h4>Women Fit Jeans</h4>
          <h5>Price: Rs.1500 <s>Rs.2000</s></h5>
          <label>Size :</label>
          <select>
            <option>S</option>
            <option>M</option>
            <option>L</option>
            <option>XL</option></select
          ><br /><br />
          <button>Add-Cart</button>
        </div>

        <div class="column" id="item10">
          <img src="./../../assets/lehenga.jpeg" width="60%" height="50%" />
          <h4>Women Lehenga unstiched set</h4>
          <h5>Price: Rs.6000</h5>
          <label>Size :</label>
          <select>
            <option>S</option>
            <option>M</option>
            <option>L</option>
            <option>XL</option></select
          ><br /><br />
          <button>Add-Cart</button>
        </div>

        <div class="column" id="item11">
          <img src="./../../assets/Skirt.jpeg" width="60%" height="50%" />
          <h4>Women Green Skirt</h4>
          <h5>Price: Rs.1700 <s>Rs.2000</s></h5>
          <label>Size :</label>
          <select>
            <option>S</option>
            <option>M</option>
            <option>L</option>
            <option>XL</option></select
          ><br /><br />
          <button>Add-Cart</button>
        </div>

        <div class="column" id="item12">
          <img src="./../../assets/Makeup.jpeg" width="60%" height="50%" />
          <h4>Makeup Kit</h4>
          <h5>Price: Rs.2500 <s>Rs.2800</s></h5>
          <label>Size :</label>
          <select>
            <option>S</option>
            <option>M</option>
            <option>L</option>
            <option>XL</option></select
          ><br /><br />
          <button>Add-Cart</button>
        </div>
      </div>
    </div>
  </body>
</html>
